# Preprocessing

In [34]:
import pandas as pd
import numpy as np

In [38]:
data = pd.read_csv("https://raw.githubusercontent.com/hurulee/scorecard/master/data/germancredit.csv")
data.head(2)

,status.of.existing.checking.account,duration.in.month,credit.history,purpose,credit.amount,savings.account.and.bonds,present.employment.since,installment.rate.in.percentage.of.disposable.income,personal.status.and.sex,other.debtors.or.guarantors,...,property,age.in.years,other.installment.plans,housing,number.of.existing.credits.at.this.bank,job,number.of.people.being.liable.to.provide.maintenance.for,telephone,foreign.worker,creditability
0,... < 0 DM,6,critical account/ other credits existing (not ...,radio/television,1169,unknown/ no savings account,... >= 7 years,4,male : single,none,...,real estate,67,none,own,2,skilled employee / official,1,"yes, registered under the customers name",yes,good
1,0 <= ... < 200 DM,48,existing credits paid back duly till now,radio/television,5951,... < 100 DM,1 <= ... < 4 years,2,female : divorced/separated/married,none,...,real estate,22,none,own,1,skilled employee / official,1,none,yes,bad

In [39]:
data_without_column_for_convert = pd.DataFrame(data, columns = ['duration.in.month','credit.amount','age.in.years'])
data_without_column_for_convert.head()

   duration.in.month  credit.amount  age.in.years
0                  6           1169            67
1                 48           5951            22
2                 12           2096            49
3                 42           7882            45
4                 24           4870            53

In [40]:
data_ratarata=pd.get_dummies(data['status.of.existing.checking.account'])
data_ratarata.head()

,... < 0 DM,... >= 200 DM / salary assignments for at least 1 year,0 <= ... < 200 DM,no checking account
0,1,0,0,0
1,0,0,1,0
2,0,0,0,1
3,1,0,0,0
4,1,0,0,0

In [42]:
data_kredi=pd.get_dummies(data['creditability'])
data_kredi

     bad  good
0      0     1
1      1     0
2      0     1
3      0     1
4      1     0
..   ...   ...
995    0     1
996    0     1
997    0     1
998    1     0
999    0     1

[1000 rows x 2 columns]

In [43]:
data_new = pd.concat([data_without_column_for_convert, data_kredi,data_ratarata], axis=1)
data_new.head()

,duration.in.month,credit.amount,age.in.years,bad,good,... < 0 DM,... >= 200 DM / salary assignments for at least 1 year,0 <= ... < 200 DM,no checking account
0,6,1169,67,0,1,1,0,0,0
1,48,5951,22,1,0,0,0,1,0
2,12,2096,49,0,1,0,0,0,1
3,42,7882,45,0,1,1,0,0,0
4,24,4870,53,1,0,1,0,0,0

In [45]:
data_risk_rating = pd.DataFrame(data, columns = ['number.of.people.being.liable.to.provide.maintenance.for'])
data_risk_rating.head()

   number.of.people.being.liable.to.provide.maintenance.for
0                                                  1
1                                                  1
2                                                  2
3                                                  2
4                                                  2

## Normalisasi Data

In [58]:
from sklearn.preprocessing import MinMaxScaler

In [59]:
from sklearn.preprocessing import MinMaxScaler
data_for_minmax_scaler=pd.DataFrame(data, columns = ['duration.in.month','credit.amount','age.in.years'])
data_for_minmax_scaler.to_numpy()
scaler = MinMaxScaler()
data_hasil_minmax_scaler=scaler.fit_transform(data_for_minmax_scaler)

In [60]:
data_hasil_minmax_scaler = pd.DataFrame(data_hasil_minmax_scaler,columns = ['duration.in.month','credit.amount','age.in.years'])
data_hasil_minmax_scaler

     duration.in.month  credit.amount  age.in.years
0             0.029412       0.050567      0.857143
1             0.647059       0.313690      0.053571
2             0.117647       0.101574      0.535714
3             0.558824       0.419941      0.464286
4             0.294118       0.254209      0.607143
..                 ...            ...           ...
995           0.117647       0.081765      0.214286
996           0.382353       0.198470      0.375000
997           0.117647       0.030483      0.339286
998           0.602941       0.087763      0.071429
999           0.602941       0.238032      0.142857

[1000 rows x 3 columns]

In [61]:
data_new1 = pd.concat([data_hasil_minmax_scaler, data_kredi,data_ratarata], axis=1)
data_new1.head()

,duration.in.month,credit.amount,age.in.years,bad,good,... < 0 DM,... >= 200 DM / salary assignments for at least 1 year,0 <= ... < 200 DM,no checking account
0,0.029412,0.050567,0.857143,0,1,1,0,0,0
1,0.647059,0.313690,0.053571,1,0,0,0,1,0
2,0.117647,0.101574,0.535714,0,1,0,0,0,1
3,0.558824,0.419941,0.464286,0,1,1,0,0,0
4,0.294118,0.254209,0.607143,1,0,1,0,0,0